#folders
.circleci
src
test

#files
.commitlintrc.js
.eslintignore
.eslintrc.js
.gitignore
.lintstagedrc.js
.mocharc.json
.prettierrc
jest.config.js
time_travel.svg
tsconfig.json
yarn.lock

*.log
*.tgz